#check:checked ~ ul {
  left: 0;
}
@media (min-width: 576px) {
  .hide {
    display: flex;
    width: 100%;
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .check-btn {
    display: block;
  }
  .menu-list {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #1c1c1c;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all 0.8s;
  }
  .item-menu {
    display: block;
  }
  .link-menu {
    font-size: 1.2 rem;
  }
  .form-container {
    margin-top: 3rem;
  }
}

@media (min-width: 768px) {
  .link-menu {
    font-size: 16px;
  }
  .item-menu {
    border: none;
  }
  .banner {
    font-size: 1.5rem;
  }
  .link-menu:hover {
    background: white;
    transition: 0.2s;
    color: #00bfff;
    text-shadow: 0 0 5px #00bfff;
  }

  .link-menu:active {
    background: #00bfff;
    transition: 0.1s;
    color: white;
    text-shadow: 0 0 5px white;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .adress-text {
    padding: 10px;
    text-align: center;
    margin: 0;
  }
  .primary-button {
    margin-bottom: 3rem;
    font-size: 1.2rem;
  }

  .banner {
    font-size: 2rem;
  }
  .title-section {
    font-size: 2.5rem;
    margin-top: 50px;
  }

  p,
  .heading-skills {
    font-size: 1.25rem;
  }
  .adres-container h3 {
    font-size: 1.5rem;
  }
  .adress-text {
    font-size: 1.25rem;
  }
  .profile-picture {
    width: 250px;
    height: 250px;
  }
  .social-icon {
    font-size: 4rem;
  }

  .form-container h3 {
    text-align: center;
    font-size: 1.5rem;
  }

  .follow {
    font-size: 2.5rem;
  }

  .center-text {
    text-align: center;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
